body{
  background-color: rgb(52, 147, 224);
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: 3px;
  padding: 30px;
}

body header{
  margin-left: 500px;

}

.MenuCentral{
  width: 600px;
  height: 300px;
  margin: 5px;
  padding: 40px;
  margin-left: 330px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  border-radius: 40px;

  & .ItemMenu{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 600;
    /* background-color: black; */
  }



div button:hover {
    background-color: black;
    color: white;
}


}

button{
  margin-top: 20px;

  margin-bottom: 20px;
}

footer{
  margin: 20px 0px 0px 500px;


}